<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form role="form" id="addCellForm" method="post">
    <div class="modal-body col-sm-12 max-height">

        <div class="form-group col-sm-3">
            <label>indexOfPanel：</label>
            <input class="form-control" id="addCellForm_indexOfPanel" name="indexOfPanel" placeholder="indexOfPanel"
                   type="number">
        </div>

        <div class="form-group col-sm-3">
            <label>width：</label>
            <input class="form-control" id="addCellForm_width" name="width" placeholder="width" type="number">
        </div>

        <div class="form-group col-sm-3">
            <label>height：</label>
            <input class="form-control" id="addCellForm_height" name="hight" placeholder="height" type="number">
        </div>
    </div>

</form>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    <button type="submit" class="btn btn-primary" onclick="saveCellSize()">保存</button>
</div>

</body>

<script>
    // 保存cells 的 indexOfPanel  width height

    /**
     * form表单元素的值序列化对象
     */
    function serializeObject(form) {
        var o = {};
        $.each(form.serializeArray(), function (index) {
            if (o[this['name']]) {
                o[this['name']] = o[this['name']] + "," + this['value'];
            } else {
                o[this['name']] = this['value'];
            }
        });
        return o;
    }
    ;

    function saveCellSize() {
        var form = serializeObject($('#addCellForm'));

        form.id = null;
        form.panelid = panelid;
        // 新增cell默认在右下角生成
        form.row = 6;
        form.column = 17;
        form.rowSize = 2;
        form.columnSize = 7;

        /*  $('#editCellForm').ajaxSubmit(formOptions);*/

        $.ajax({
            url: baseURL + "uicelltemplate/saveone",
            data: JSON.stringify(form),
            contentType: "application/json",
            type: 'post',
            success: function (data) {
                $('#addModal').modal('hide');
                if (data.status == 0) {
                    loadView(panelid);
                    console.log("add cells success!")
                } else {

                    alert("添加出错");
                }
            },
            error: function () {
                alert("添加出错");
            }
        });

    }


</script>
</html>