<!DOCTYPE html>
<html>
<head>
<title>型号渠道-规则复制</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="!showList">
			<div class="box-header">
						<form>
			            	<div class="row">
			            		<div class="col-md-2">
									<div class="form-group">
										<label >&nbsp;&nbsp;</label> 
										<div class="input-group">
											<label >源机型 From:</label>
						                </div>
									</div>
								 </div>
								<div class="col-md-3">
									<label>型号</label>
									<select class="form-control" id="deviceTypeId" onchange="vm.devidetypeSelect()">
									</select>
								 </div>
								 <div class="col-md-3">
									<label>渠道</label>
									<select class="form-control" id="customerId">
									</select>
								 </div>
								 <div class="col-md-3">
									<div class="form-group">
										<label >&nbsp;&nbsp;</label> 
										<div class="input-group">
											<a  title="提示：此操作是将源机型下的应用覆盖添加到目标机型" v-if="hasPermission('copyapptcmap:copy')" class="btn btn-primary" @click="saveCopy">复制机型应用</a>&nbsp;&nbsp;&nbsp;&nbsp;
											<a  title="提示：此操作是将源机型下的应用累计去重添加到目标机型" v-if="hasPermission('copyapptcmap:add')" class="btn btn-primary" @click="saveAdd">累加机型应用</a>&nbsp;&nbsp;&nbsp;&nbsp;
						                </div>
									</div>
								</div>
			            	</div>
			            	
			          </form>
			</div>
		    <table id="jqGrid"></table>
		    <div id="jqGridPager"></div>
	    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-4 control-label">目标机型列表 To:</div>
			   	<div class="col-sm-6">
			      <ul id="modelTree" class="ztree"></ul>
			    </div>
			</div>
		</form>
	</div>
</div>

<script src="../../js/modules/app/copyapptcmap.js"></script>
</body>
</html>