<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../libs/uploadifyfive/uploadifive.css"/>
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../libs/uploadifyfive/jquery.uploadifive.js"></script>
</head>
<body>
<div id="spareCellsList" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a class="btn btn-danger" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid" style="margin-top: 20px"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">编辑运营位信息</h4>
        </div>
        <div role="form">
            <div class="modal-body col-sm-12 max-height">
                <div class="form-group col-sm-8">
                    <label>运营统计字段</label>
                    <input class="form-control col-sm-8" v-model="ui_cell.operateTitle"/>
                </div>
                <div class="form-group col-sm-8">
                    <label>项目名称</label>
                    <input class="form-control col-sm-8" v-model="ui_cell.name"/>
                </div>
                <div class="form-group col-sm-8">
                    <label>推荐语</label>
                    <input class="form-control col-sm-8" v-model="ui_cell.description"/>
                </div>
                <div class="form-group col-sm-8">
                    <label>替换顺序</label>
                    <input type="number" class="form-control col-sm-8" v-model="ui_cell.indexOfPanel"
                           placeholder="原子替换项，替换的顺序"/>
                </div>

                <div class="form-group col-sm-8">
                    <label>参数模板</label>
                    <select class="form-control" v-model="templateId" @change="selectTemplate">
                        <option value="" selected>选择参数模板</option>
                        <option v-for="item in parametersItems" v-bind:value="item.id">{{item.name}}</option>
                    </select>

                </div>


                <div class="form-group col-sm-8">

                    <label>上次编辑选取的模板</label>
                    <input class="form-control col-sm-8" readonly="readonly" v-model="ui_cell.templateName"/>
                </div>


                <div class="form-group col-sm-8">
                    <label>跳转类型</label>
                    <input class="form-control col-sm-8" readonly="readonly" v-model="ui_cell.intentType"
                           @change="selectIntentType"/>
                </div>

                <div class="form-group col-sm-8">
                    <label>参数值</label>
                    <div v-if="Object.keys(items).length == 0">
                        <span style="color: #0044cc">没键值对参数</span>
                    </div>
                    <!--  </div>-->
                    <div v-for="(item, index) in items">
                        <div class="form-group ">

                            <div class="col-sm-2 control-label">key</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="item.key" readonly="true"
                                       placeholder="key值"/>
                            </div>

                            <div class="col-sm-2 control-label">value</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="item.value"
                                       placeholder="value值"/>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- 选择 intentType 为 install 时候需要填写的额外参数 -->
                <div v-show="chooseInstall">

                    <div class="form-group">

                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-primary" @click="showAppListInfo">
                                应用选择
                            </button>
                        </div>
                    </div>


                    <div class="form-group col-sm-8">
                        <label>文件名称</label>
                        <input class="form-control col-sm-8" v-model="ui_cell.apkName" name="ui_cell.apkName" readonly/>
                    </div>
                    <div class="form-group col-sm-8">
                        <label>应用包名</label>
                        <input class="form-control col-sm-8" v-model="ui_cell.apkPackageName" name="ui_cell.apkPackageName" readonly/>
                    </div>
            		<div class="form-group col-sm-8"  style="display: none">
                        <label>应用版本名称</label>
                        <input class="form-control col-sm-8" v-model="ui_cell.apkVersionName" name="ui_cell.apkVersionName" readonly/>
                    </div>
            		<div class="form-group col-sm-8" style="display: none">
                        <label>应用版本号</label>
                        <input class="form-control col-sm-8" v-model="ui_cell.apkVersionCode" name="ui_cell.apkVersionCode" readonly/>
                    </div>
                    <div class="form-group col-sm-8">
                        <label>下载地址</label>
                        <input class="form-control col-sm-8" v-model="ui_cell.apkcdnUrl" name="ui_cell.apkcdnUrl" readonly/>
                    </div>
                    <div class="form-group col-sm-8">
                        <label>文件大小</label>
                        <input class="form-control col-sm-8" v-model="ui_cell.apkSize" name="ui_cell.apkSize" readonly/>
                    </div>

                    <div class="form-group col-sm-8">
                        <label>应用小图标</label>
                        <img width="100" height="100" id="apkSmallIconSrc"
                             style="display:none;cursor:pointer;margin-top:20px;"/>
                    </div>
                    <div class="form-group col-sm-8">
                        <label>应用大图标</label>
                        <img width="100" height="100" id="apkBigIconSrc"
                             style="display:none;cursor:pointer;margin-top:20px;"/>
                    </div>
		            <div class="form-group col-sm-8">
		                <label>应用版本文件名称</label>
		                <input class="form-control col-sm-8" v-model="ui_cell.apkFileName" name="ui_cell.apkFileName" readonly/>
		            </div>
		            <div class="form-group col-sm-8">
		                <label>应用积分值</label>
		                <input class="form-control col-sm-8" v-model="ui_cell.apkWeiPoint" name="ui_cell.apkWeiPoint" readonly/>
		            </div>
                </div>

                <div class="form-group col-sm-8" v-show="chooseApp">
                    <label>packageName</label>
                    <input class="form-control" v-model="ui_cell.packageName"/>
                </div>
                <div class="form-group col-sm-8" v-show="chooseAction || chooseBroadcast || chooseInstall">
                <label>Action名</label>
                    <input class="form-control" v-model="ui_cell.action"/>
                </div>
                <div class="form-group col-sm-8" v-show="chooseApp">
                    <label>className</label>
                    <input class="form-control" v-model="ui_cell.className"/>
                </div>
                <div class="form-group col-sm-8">
                    <label>uriString</label>
                    <input class="form-control" v-model="ui_cell.uriString" placeholder="uri string"/>
                </div>

                <div class="form-group col-sm-12">

                    <div class="form-group">
                        <div class="col-sm-2 control-label">推荐图</div>
                        <div class="col-sm-10">
                            <input type="file" id="imageUrlFile" name="imageUrlFile"/>
                            <img width="100" height="100" id="imageUrlFileSrc"
                                 style="display:none;cursor:pointer;margin-top:20px;"
                                 onclick="main.removeIcon('imageUrlFileSrc','confirm')" title="点击删除图片"/>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">

                    <div class="col-sm-2 control-label">露头图</div>
                    <div class="col-sm-10">
                        <input type="file" id="image2UrlFile" name="image2UrlFile"/>
                        <img width="100" height="100" id="image2UrlFileSrc"
                             style="display:none;cursor:pointer;margin-top:20px;"
                             onclick="main.removeIcon('image2UrlFileSrc','confirm')" title="点击删除图片"/>
                    </div>
                </div>
                <div class="form-group col-sm-12">

                    <div class="col-sm-2 control-label">配件海报图</div>
                    <div class="col-sm-10">
                        <input type="file" id="backgroundUrlFile" name="backgroundUrlFile"/>
                        <img width="100" height="100" id="backgroundUrlSrc"
                             style="display:none;cursor:pointer;margin-top:20px;"
                             onclick="main.removeIcon('backgroundUrlSrc','confirm')" title="点击删除图片"/>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </div>

    </div>
</div>


<div id="showDetailsInfo" class="modal fade col-sm-12 max-height" role="dialog">
    <div class="modal-dialog" role="document" style="background-color:#fff">
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-2 control-label">跳转类型</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="uiCell.intentType" readonly/>
                    </div>
                </div>
                <div class="form-group" v-show="chooseApp">
                    <div class="col-sm-2 control-label">包名</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="uiCell.packageName" readonly/>
                    </div>
                </div>

                <div class="form-group" v-show="chooseApp">
                    <div class="col-sm-2 control-label">类名</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="uiCell.className" readonly/>
                    </div>
                </div>

                <div class="form-group" v-show="chooseAction || chooseBroadcast || chooseInstall">
                    <div class="col-sm-2 control-label">Action名</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="uiCell.action" readonly/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">uri</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="uiCell.uriString" readonly/>
                    </div>
                </div>
                <div class="form-group" v-if="Object.keys(items).length == 0">
                    <div class="col-sm-2 control-label" style="color: #0044cc">没键值对参数</div>
                </div>
                <div>
                    <!--动态 key -- value 标签 -->
                    <div v-for="(item, index) in items">
                        <div class="form-group ">

                            <div class="col-sm-2 control-label">key</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="item.key" readonly/>
                            </div>

                            <div class="col-sm-2 control-label">value</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="item.value" readonly/>
                            </div>
                        </div>
                    </div>
                </div>


                <div v-show="chooseInstall">
                    <div class="form-group">
                        <div class="col-sm-2 control-label">应用包名</div>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-8" class="form-control"
                                   v-model="uiCell.apkPackageName" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">应用版本名称</div>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-8" class="form-control"
                                   v-model="uiCell.apkVersionName" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 control-label">应用版本号</div>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-8" class="form-control"
                                   v-model="uiCell.apkVersionCode" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 control-label">下载地址</div>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-8" class="form-control"
                                   v-model="uiCell.apkcdnUrl" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 control-label">文件大小</div>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-8" class="form-control"
                                   v-model="uiCell.apkSize" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 control-label">文件名称</div>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-8" class="form-control"
                                   v-model="uiCell.apkName" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 control-label">文件MD5</div>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-8" class="form-control"
                                   v-model="uiCell.apkMd5" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 control-label">应用小图标</div>
                        <div class="col-sm-10">
                            <img width="100" height="100" id="showApkSmallIconSrc"
                                 style="display:none;cursor:pointer;margin-top:20px;"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">应用大图标</div>
                        <div class="col-sm-10">
                            <img width="100" height="100" id="showApkBigIconSrc"
                                 style="display:none;cursor:pointer;margin-top:20px;"/>
                        </div>
                    </div>

                </div>
            </form>
        </div>

        <div class="modal-footer">
            <a type="button" class="btn btn-warning" data-dismiss="modal">返回</a>
        </div>
    </div>
</div>
<script src="../../js/uploadFile.js"></script>
<script src="../../js/modules/app/sparecells.js"></script>
</body>
</html>