<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<a class="btn btn-primary" v-if="hasPermission('switch:add')" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>&nbsp;&nbsp;
			<a class="btn btn-danger" v-if="hasPermission('switch:del')" @click="del">删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
				<div class="form-group">
				<label for="packageName" class="col-sm-3 control-label">应用列表：</label>
                <div class="col-sm-10">
                <select id="packageName" class="form-control">
                <option value="com.mipt.store">应用商店</option>
                <option value="tv.beemarket">蜜蜂市场</option>
                </select>
				</div>
			</div>
											<div class="form-group">
				<label for="switchName" class="col-sm-3 control-label">开关类型：</label>
                <div class="col-sm-10">
                <select id="switchName" class="form-control">
                <option value="bigdata">大数据</option>
                <option value="umeng">友盟</option>
                <option value="tingyun">听云</option>
                <option value="touchModeSwitch">触摸模式</option>
                </select>
				</div>
			</div>
											<div class="form-group">
				<label for="open" class="col-sm-3 control-label">开关状态：</label>
                <div class="col-sm-10">
                <select id="open" class="form-control">
                <option value="off">关闭</option>
                <option value="on">打开</option>
                </select>
				</div>
			</div>
									<div class="form-group">
			   	<label for="startCode" class="col-sm-3 control-label">最小版本号：</label>
	        	<div class="col-sm-10">
	            <input type="text" id="startCode"/>
	            </div>
        		</div> 
			<div class="form-group">
			   	<label for="endCode"  class="col-sm-3 control-label">最大版本号：</label>
	        	<div class="col-sm-10">
	           		<input type="text" id="endCode"/>
	            </div>
			</div>
			<div class="form-group">
			   <label for="modelTree" class="col-sm-3 control-label">机型列表：</label>
		        <div class="col-sm-10">
			      <ul id="modelTree" class="ztree"></ul>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="提交"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../../js/modules/app/switch.js"></script>
</body>
</html>