<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<link rel="stylesheet" href="../../libs/uploadifyfive/uploadifive.css" />
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
	<div >
	<div >
		<div class="row">
			<div class="form-inline">  
				<a class="btn btn-info" onclick="javascript:addClass();">同步应用类型</a>&nbsp;&nbsp;
				<a class="btn btn-info" onclick="javascript:addChannel();">同步型号渠道</a>&nbsp;&nbsp;
				<a class="btn btn-info" onclick="javascript:addApp();">同步应用</a>&nbsp;&nbsp;
				<a class="btn btn-info" onclick="javascript:addAppTcmap();">同步应用关联型号渠道</a>
			</div>
		</div>
	</div>
	</div>
	<script>
	function addClass(){
		confirm('确定要同步应用类型？', function(){
			loading("加载中，请稍后...");
			$.get(baseURL + "admin/syn/addClass",function(r){
				alert(r.msg,function(){
					closeLoading();
				});
				
			});
		});
		
	}
	function addChannel(){
		confirm('确定要同步型号渠道？', function(){
			loading("加载中，请稍后...");
			$.get(baseURL + "admin/syn/addChannel",function(r){
				alert(r.msg,function(){
					closeLoading();
				});
			});
		});
		
	}
	function addApp(){
		confirm('确定要同步应用？', function(){
			loading("加载中，请稍后...");
			$.get(baseURL + "admin/syn/addApp",function(r){
				alert(r.msg,function(){
					closeLoading();
				});
			});
		});
		
	}
	function addAppTcmap(){
		confirm('确定要同步应用？', function(){
			loading("加载中，请稍后...");
			$.get(baseURL + "admin/syn/addAppTcmap",function(r){
				alert(r.msg,function(){
					closeLoading();
				});
			});
		});
		
	}
	</script>
</body>
</html>