<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
		<div class="box-header">
					<form>
		            	<div class="row">
							<div class="col-md-3">
								<label>型号</label>
								<select class="form-control" id="deviceTypeId" onchange="vm.devidetypeSelect();">
								</select>
							 </div>
							 <div class="col-md-3">
								<label>渠道</label>
								<select class="form-control" id="customerId">
								</select>
							 </div>
							 <div class="col-md-3">
								<label>应用名称</label>
								<input class="form-control" id="name" />
							 </div>
		              		<div class="col-md-5">
								<div class="form-group">
									<label >&nbsp;&nbsp;</label> 
									<div class="input-group">
					                    <a  class="btn btn-default" onclick="vm.query();">&nbsp;查询</a>&nbsp;&nbsp;
					                </div>
								</div>
							</div>
		            </div>
		          </form>
		</div>
		
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    <div id="applist" style="margin-top: 30px;">
	
	</div>
</div>

<script src="../../js/modules/app/appCommon.js"></script>
<script src="../../js/modules/app/tbappPoint.js"></script>
</body>
</html>