<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<link rel="stylesheet" href="../../libs/uploadifyfive/uploadifive.css" />
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../libs/uploadifyfive/jquery.uploadifive.js"></script>
<script src="../../libs/bootstrap-select.js"></script>
</head>
<body>
	<div id="tag" v-cloak>
		<div v-show="showList">
			<div class="row">
				<div class="form-group form-inline">  
					<input type="button" class="btn btn-primary" @click="addTag" value="添加">
					<!--<input type="button" class="btn btn-primary" @click="addTagBatch" value="批量添加">-->
				</div>
			</div>
			<table id="jqGrid"></table>
			<div id="jqGridPager"></div>
		</div>
		<div v-show = "!showList" class="panel panel-default">
			<div class="panel-heading">{{title}}</div>
			<form class="form-horizontal">
				<!--<div class="form-group">
				   	<div class="col-sm-2 control-label">标签Code</div>
				   	<div class="col-sm-6">
				      <input type="text" class="form-control" id = "tagCode" v-model = "tag.tagCode" placeholder=""/>
				      <input type="hidden"  id="tagId" v-model = "tag.id"/>
				    </div>
				</div>-->
				<div class="form-group">
				   	<div class="col-sm-2 control-label">标签名称</div>
				   	<div class="col-sm-6">
				      <input type="text" class="form-control" id = "tagName" v-model = "tag.name" placeholder=""/>
				    </div>
				</div>
				<div class="form-group">
				   	<div class="col-sm-2 control-label">搜索推荐</div>
				   	<div class="col-sm-6">
                        <select class="form-control" id="tagIsSearchRecommend" v-model = "tag.isSearchRecommend" @click="showRecommendSort">
                            <option :value = 1>是</option>
                            <option :value = 0>否</option>
                        </select>
				   	</div>
				</div>
                <div class="form-group" v-show = "recommendSortShow">
                    <div class="col-sm-2 control-label">搜索推荐排序</div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="tagRecommendSort" v-model = "tag.recommendSort" />
                    </div>
                </div>
                <div class="form-group">
				   	<div class="col-sm-2 control-label">备注</div>
				   	<div class="col-sm-6">
				   		<textarea rows="5" cols="5" class="form-control" v-model = "tag.msg"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label"></div> 
					<input type="button" class="btn btn-primary" @click="save" value="确定"/>
					&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
				</div>
			</form>
		</div>
	</div>

	<script src="../../plugins/daterangepicker/moment.js"></script>
	<script src="../../js/common.js"></script>
	<script src="../../js/modules/app/tbtag.js"></script>
</body>
</html>