<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<link rel="stylesheet" href="../../libs/uploadifyfive/uploadifive.css" />
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../libs/uploadifyfive/jquery.uploadifive.js"></script>
</head>
<body>
	<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="row">
			<div class="form-group form-inline">
				<label id="tagName" style="font-size: 10mm;" class="control-label"></label>
				<input type="button" class="btn btn-primary" value="返回" onclick="vm.back()" align="right">
			</div>
		</div>
		<!--<div class="row">
			<div class="form-group form-inline">  
				<label class="control-label"></label>
				<label id="rankName" style="font-size: 10mm;" class="control-label"></label>&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="hidden" id="rankid" value="">
				<label>型号</label>&nbsp;&nbsp;&nbsp;&nbsp;
				<select class="form-control" id="devicetypeid2" onchange="vm.loadCustomer2()"></select>
				<label>渠道</label>&nbsp;&nbsp;&nbsp;&nbsp;
				<select class="form-control" id="customerid2"></select>
				<input type="button" class="btn btn-default" value="查询" onclick="vm.query()" align="right">
				<input type="button" class="btn btn-default" value="返回" onclick="vm.back()" align="right">
			</div>
		</div>-->
		<table id="jqGrid"></table>
		<div id="jqGridPager"></div>
	</div>
	</div>
	<div id="applist" v-cloak></div>
	<script src="../../js/common.js"></script>
	<script src="../../js/modules/app/appCommon.js"></script>
	<script src="../../js/modules/app/tbTagAppDetail.js"></script>
</body>
</html>