<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<link rel="stylesheet" href="../../plugins/datetimepicker/bootstrap-datetimepicker.min.css"/>
<link rel="stylesheet" href="../../libs/uploadifyfive/uploadifive.css" />
<style>
.control_img{
    background:#000000
}
.row {
	border-top:0px solid;
    margin: 0;
    padding: 20px 2px 0px 2px;
}
</style>
<script src="../../libs/jquery.min.js"></script>
<script src="../../libs/jquery.dragsort-0.5.2.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../plugins/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="../../plugins/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="../../plugins/daterangepicker/moment.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../libs/uploadifyfive/jquery.uploadifive.js"></script>

</head>
<body>
<div id="applist">
	<div v-show="showList"><div class="box-header"><form>
							<div class="row"><div class="col-md-2">
								<label>一级分类</label>
								<select class="form-control" id="firstClassId" onchange="applistvm.queryFirstClassIdSelect();">
								</select>
							 </div>
			<div class="col-md-2">
								<label>二级分类</label>
								<select class="form-control" id="secondClassId">
								</select>
							 </div>
			<div class="form-group col-sm-2">
				<label>发布状态</label>
				<select class="form-control" id="publish">
					<option value="-1">全部</option>
					<option value="1">上架</option>
					<option value="0">下架</option>
				</select>
			</div>
			<div class="form-group col-sm-2">
				<label>应用名称</label> 
				<input class="form-control" id="appName"/>
			</div>
			<div class="col-md-4">
				<div class="form-group">
						<label >&nbsp;&nbsp;</label> 
						<div class="input-group">
					        <a  class="btn btn-primary" onclick="applistvm.query();">&nbsp;查询</a>&nbsp;&nbsp;
							<a  class="btn btn-danger" v-if="hasPermission('thirdPartApp:del')" onclick="applistvm.del();">&nbsp;删除</a>&nbsp;&nbsp;
					    </div>
				</div>
				</div>
			</div>
		</form>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
		</div>
</div>
<script src="../../js/modules/app/thirdPartApp.js"></script>

</body>
</html>