<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../plugins/toastr/toastr.min.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../plugins/toastr/toastr.min.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
<div id="app" v-cloak>

	<div v-show="router == 'mainPage'">
	<div class="grid-btn">
		<div class="form-group col-sm-2">
			<input type="text" class="form-control" v-model="queryGroupName" @keyup.enter="query" placeholder="分组名称">
		</div>
		<a class="btn btn-default" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a>
		<a class="btn btn-primary" v-if="hasPermission('tttcgroup:add')" @click="toAddGroupPage"><i class="fa fa-plus"></i>&nbsp;新增</a>
		<a class="btn btn-primary" v-if="hasPermission('tttcgroup:update')" @click="toConfigRelationPage"><i class="fa fa-pencil-square-o"></i>&nbsp;配置</a>
		<a class="btn btn-primary" v-if="hasPermission('tttcgroup:del')" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
	</div>
	<table id="jqGrid"></table>
	<div id="jqGridPager"></div>
</div>

	<div v-show="router == 'addGroupPage'" class="panel panel-default">
	<div class="panel-heading">添加分组</div>
	<div class="panel-body">
		<div class="form-group col-sm-4">
			<label>分组名称</label>
			<input type="text" class="form-control" v-model="group.groupname" placeholder="">
		</div>

		<div class="clearfix"></div>

		<div class="form-group col-sm-4">
			<label>分组描述</label>
			<input type="text" class="form-control" v-model="group.groupdesc" placeholder="">
		</div>

		<div class="clearfix"></div>

		<div style="margin-bottom: 10px">
			<a class="btn btn-success" @click="saveGroup">提交</a>
			<a style="margin-left: 10px" class="btn btn-warning" @click="toMainPage">返回</a>
		</div>
	</div>
</div>

	<div v-show="router == 'configRelationPage'" class="panel panel-default">
		<div class="panel-heading">添加关联</div>
		<div class="panel-body">
			<div class="form-group col-sm-4">
				<label>分组名称</label>
				<input type="text" class="form-control" v-model="group.groupname" readonly="readonly" placeholder="">
			</div>
			<div class="clearfix"></div>
			<div class="form-group col-sm-4">
				<label>分组描述</label>
				<input type="text" class="form-control" v-model="group.groupdesc" readonly="readonly" placeholder="">
			</div>
			<div class="clearfix"></div>

			<div style="margin-bottom: 10px">
				<button type="button" class="btn btn-success" @click="saveGroupRelation">添加关联</button>
				<button style="margin-left: 10px" type="button" class="btn btn-warning" @click="toMainPage">返回</button>
			</div>

			<div class="clearfix"></div>

			<div id="dcTree" class="col-sm-3 well">
				<span><strong>机型列表：</strong></span>
				<ul id="modelTree" class="ztree"></ul>
			</div>

			<div class="col-sm-6 col-sm-offset-1 well">
				<div class="grid-btn">
					<a class="btn btn-primary" @click="delDC"><i class="fa fa-trash-o"></i>&nbsp;批量删除</a>
				</div>
				<table id="dcJqGrid"></table>
				<div id="dcJqGridPager"></div>
			</div>

			<div class="clearfix"></div>

		</div>
		<div class="clearfix"></div>
	</div>

</div>
<script src="../../js/modules/app/tttcgroup.js"></script>
</body>
</html>