<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">

    <style type="text/css">
        .ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td {
            word-wrap: break-word; /* IE 5.5+ and CSS3 */
            white-space: pre-wrap; /* CSS3 */
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            white-space: -pre-wrap; /* Opera 4-6 */
            white-space: -o-pre-wrap; /* Opera 7 */
            overflow: hidden;
            height: auto;
            vertical-align: middle;
            padding-top: 3px;
            padding-bottom: 3px
        }
    </style>

    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">

            <div class="form-group  form-inline">
                <label>模板名称</label>
                <select class="form-control" v-model="queryId">
                    <option value="" selected>全部</option>
                    <option v-for="item in queryItems" v-bind:value="item.id">{{item.name}}</option>
                </select>
            </div>

        </div>


        <div class="grid-btn">
            <a class="btn btn-primary" @click="query"><i class="fa fa-search"></i>&nbsp;搜索</a>
            <a class="btn btn-info" v-if="hasPermission('uiparameter:add')" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a class="btn btn-primary" v-if="hasPermission('uiparameter:update')" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a class="btn btn-danger" v-if="hasPermission('uiparameter:del')" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>

        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">参数模板名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="uiParameter.name" placeholder="参数模板名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">跳转类型</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="uiParameter.intentType" @change="selectIntentType"
                            readonly="true">
                        <option value="App" selected>App</option>
                        <option value="Action">Action</option>
                        <option value="url">url</option>
                        <option value="Broadcast">Broadcast</option>
                        <option value="install">install</option>
                    </select>
                </div>
            </div>
            <div class="form-group" v-show="chooseApp">
                <div class="col-sm-2 control-label">包名</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="uiParameter.packageName" placeholder="包名"/>
                </div>
            </div>

            <div class="form-group" v-show="chooseApp">
                <div class="col-sm-2 control-label">类名</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="uiParameter.className" placeholder="类名"/>
                </div>
            </div>

            <div class="form-group" v-show="chooseAction || chooseBroadcast || chooseInstall">
                <div class="col-sm-2 control-label">Action名</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="uiParameter.action" placeholder="Action名"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">uri</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="uiParameter.uriString"
                           placeholder="用于scheme的uri字符串,网页的url地址 "/>
                </div>
            </div>

            <div>
                <!--动态 key -- value 标签 -->
                <div v-for="(item, index) in items">
                    <div class="form-group ">

                        <div class="col-sm-2 control-label">key</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="item.key"
                                   placeholder="key值"/>
                        </div>

                        <div class="col-sm-2 control-label">value</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="item.value"
                                   placeholder="value值"/>
                            <button type="button" class="btn btn-danger" @click="removeParameters(index)">刪除
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-sm-2 control-label"></div>
                    <div class="col-sm-10">
                        <button type="button" class="add-btn btn btn-primary" @click="addParameters">新增key-value
                        </button>
                    </div>
                </div>
            </div>


            <div v-show="chooseInstall">
                <div class="form-group">
                    <div class="col-sm-2 control-label">应用包名</div>
                    <div class="col-sm-10">
                        <input class="form-control col-sm-8" class="form-control" v-model="uiParameter.apkPackageName"
                               placeholder="应用包名" id="chooseInstall_apkPackageName" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">应用版本名称</div>
                    <div class="col-sm-10">
                        <input class="form-control col-sm-8" class="form-control" v-model="uiParameter.apkVersionName"
                               placeholder="应用版本名称" id="chooseInstall_apkVersionName" readonly/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">应用版本号</div>
                    <div class="col-sm-10">
                        <input class="form-control col-sm-8" class="form-control" placeholder="应用版本号"
                               v-model="uiParameter.apkVersionCode" id="chooseInstall_apkVersionCode" readonly/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">下载地址</div>
                    <div class="col-sm-10">
                        <input class="form-control col-sm-8" class="form-control" placeholder="下载地址"
                               v-model="uiParameter.apkcdnUrl" id="chooseInstall_apkcdnUrl" readonly/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">文件大小</div>
                    <div class="col-sm-10">
                        <input class="form-control col-sm-8" class="form-control" placeholder="文件大小"
                               v-model="uiParameter.apkSize" id="chooseInstall_apkSize" readonly/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">文件名称</div>
                    <div class="col-sm-10">
                        <input class="form-control col-sm-8" class="form-control" placeholder="文件名称"
                               v-model="uiParameter.apkName" id="chooseInstall_apkName" readonly/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">文件MD5</div>
                    <div class="col-sm-10">
                        <input class="form-control col-sm-8" class="form-control" placeholder="文件MD5"
                               v-model="uiParameter.apkMd5" id="chooseInstall_apkMd5" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">应用小图标</div>
                    <div class="col-sm-10">
                        <img width="100" height="100" id="apkSmallIconSrc"
                             style="display:none;cursor:pointer;margin-top:20px;"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">应用大图标</div>
                    <div class="col-sm-10">
                        <img width="100" height="100" id="apkBigIconSrc"
                             style="display:none;cursor:pointer;margin-top:20px;"/>
                    </div>
                </div>

            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>


        <div v-show="chooseInstall">
            <div class="grid-btn form-inline" style="margin-top: 20px">
                <div class="form-group col-sm-2">
                    <label class="control-label">型号：</label>
                    <select class="form-control" v-model="deviceTypeSelected" style="width: 200px">
                        <option v-for="deviceType in deviceTypeList" :value="deviceType.devicetypeid">
                            {{deviceType.devicetype}}
                        </option>
                    </select>
                </div>

                <div class="form-group col-sm-2">
                    <label class="control-label">渠道：</label>
                    <select class="form-control" v-model="customerSelected" style="width: 200px">
                        <option v-for="customerMap in customerMaps" :value="customerMap.customerid">
                            {{customerMap.customername}}
                        </option>
                    </select>
                </div>

                <div class="form-group col-sm-2">
                    <input class="form-control" type="text" placeholder="应用名称" v-model="queryAddAppName"
                           @keyup.enter="queryAppList">
                </div>

                <a class="btn btn-default" @click="queryAppList"><i class="fa fa-search"></i>&nbsp;查询</a>
            </div>

            <table id="appJqGrid" style="margin-top: 20px"></table>
            <div id="appJqGridPager"></div>

        </div>


    </div>
</div>


<div id="getAppVersionInfo" class="modal fade col-sm-12 max-height" role="dialog">
    <div class="modal-dialog " role="document" style="background-color:#fff;width: 101%">
        <div class="modal-body">
            <table id="jqAppVersionInfoGrid"></table>
            <div id="jqAppVersionInfoGridPager"></div>
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-warning" data-dismiss="modal">返回</a>
        </div>
    </div>
</div>


<div id="showDetailsInfo" class="modal fade col-sm-12 max-height" role="dialog">
    <div class="modal-dialog" role="document" style="background-color:#fff">
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-2 control-label">跳转类型</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="uiParameter.intentType" readonly/>
                    </div>
                </div>
                <div class="form-group" v-show="chooseApp">
                    <div class="col-sm-2 control-label">包名</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="uiParameter.packageName" readonly/>
                    </div>
                </div>

                <div class="form-group" v-show="chooseApp">
                    <div class="col-sm-2 control-label">类名</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="uiParameter.className" readonly/>
                    </div>
                </div>

                <div class="form-group" v-show="chooseAction || chooseBroadcast || chooseInstall">
                    <div class="col-sm-2 control-label">Action名</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="uiParameter.action" readonly/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">uri</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="uiParameter.uriString" readonly/>
                    </div>
                </div>

                <div class="form-group" v-if="Object.keys(items).length == 0">
                    <div class="col-sm-2 control-label" style="color: #0044cc">没键值对参数</div>
                </div>

                <div>
                    <!--动态 key -- value 标签 -->
                    <div v-for="(item, index) in items">
                        <div class="form-group ">

                            <div class="col-sm-2 control-label">key</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="item.key" readonly/>
                            </div>

                            <div class="col-sm-2 control-label">value</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="item.value" readonly/>
                            </div>
                        </div>
                    </div>
                </div>


                <div v-show="chooseInstall">
                    <div class="form-group">
                        <div class="col-sm-2 control-label">应用包名</div>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-8" class="form-control"
                                   v-model="uiParameter.apkPackageName" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">应用版本名称</div>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-8" class="form-control"
                                   v-model="uiParameter.apkVersionName" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 control-label">应用版本号</div>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-8" class="form-control"
                                   v-model="uiParameter.apkVersionCode" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 control-label">下载地址</div>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-8" class="form-control"
                                   v-model="uiParameter.apkcdnUrl" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 control-label">文件大小</div>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-8" class="form-control"
                                   v-model="uiParameter.apkSize" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 control-label">文件名称</div>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-8" class="form-control"
                                   v-model="uiParameter.apkName" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 control-label">文件MD5</div>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-8" class="form-control"
                                   v-model="uiParameter.apkMd5" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 control-label">应用小图标</div>
                        <div class="col-sm-10">
                            <img width="100" height="100" id="showApkSmallIconSrc"
                                 style="display:none;cursor:pointer;margin-top:20px;"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">应用大图标</div>
                        <div class="col-sm-10">
                            <img width="100" height="100" id="showApkBigIconSrc"
                                 style="display:none;cursor:pointer;margin-top:20px;"/>
                        </div>
                    </div>

                </div>
            </form>
        </div>

        <div class="modal-footer">
            <a type="button" class="btn btn-warning" data-dismiss="modal">返回</a>
        </div>
    </div>
</div>


<script src="../../js/modules/app/uiparameter.js"></script>
</body>
</html>