<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<title>组件测试4</title>
    <link rel="stylesheet" href="libs/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="libs/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <style>
    </style>
    <script src="libs/jquery.min.js"></script>
    <script src="libs/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="libs/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="libs/jqgrid/grid.locale-cn.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>

<body>
<div class="row">
    <div id="testVue">
        <div class="span6">
            <ul class="nav nav-tabs">
                <li><router-link to="/c1/1/cname">c1</router-link></li>
                <li><router-link to="/c2/2/cname">c2</router-link></li>

            </ul>
        </div>
        <router-view></router-view>
    </div>
</div>
<script>
    $.jgrid.defaults.width = 1000;
    $.jgrid.defaults.responsive = true;
    $.jgrid.defaults.styleUI = 'Bootstrap';

    //构建一个组件
    var c1 = Vue.extend({
        template: '<div>aaaa</div>'
    });
    //构建一个组件
    var c2 = Vue.extend({
        template: '<div>bbbb</div>'
    });

    let vueRouter = new VueRouter({
        routes: [{name: "c1", path: "/c1/:id/:name", component: c1},
            {name: "c2", path: "/c2/:id/:name", component: c2}]
    });

    new Vue({
        router: vueRouter,
        data: {
            tempCom: ""
        },
        methods: {
            getData: function (activeId) {
                this.defaultActive = activeId;
                $("#listInfo").jqGrid().trigger('reloadGrid');
            }
        },
        mounted:function () {
            console.log(this.$route.params.id)
        }
    }).$mount("#testVue");

</script>
</body>
</html>
